.bookmark{
    text-align: -webkit-center;
    margin: 2%;
    margin-bottom: 0;
    width: 50%;
    overflow: hidden;
}

.bkmk-card{
    padding: 2% 0 0 0;
}

.removeBookmark{
    margin: 0;
    width: 100%;
    border-radius: 0;
}

.game-redirect{
    font-size: 1.25rem;
    background-color: transparent;
    border: 0;
    width: 100%;
    white-space: normal;
    text-align: left;
    padding: 0;
    cursor: pointer;
}

.game-redirect:hover {
    color: #444444;
}

.form{
    margin: 5%;
}

#logout{
    text-align: center;
    margin: 5%;
}

.warning {
    text-align: center;
    margin: 5%;
}

.main-cards{
    margin-top: 4%;
}

